#Python Questions

# **Problem Statement**

#1. Given an integer n representing the number of pairs of parentheses, write a function to generate all
Combinations of well-formed parentheses.

*Example* :

***Input** :-

An integer **n (1 ≤ n ≤ 8)**, where n is the number of pairs of parentheses.


**Output** :-

A list of strings, where each string represents a valid combination of well-formed parentheses.

The combinations should be returned in any order.


*Example*

**Input**:-

n = 3

**Output** :-

[&quot;((()))&quot;, &quot;(()())&quot;, &quot;(())()&quot;, &quot;()(())&quot;, &quot;()()()&quot;]

**Input** :-

n= 1

**Output** :-
[&quot;()&quot;]

In [ ]:
# Write here solution
def generate(n):
    result = []

    def backtrack(current, open_count, close_count):
        if len(current) == 2 * n:
            result.append(current)
            return
        if open_count < n:
            backtrack(current + '(', open_count + 1, close_count)

        if close_count < open_count:
            backtrack(current + ')', open_count, close_count + 1)

    backtrack('', 0, 0)
    return result

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

#2. Given the head of a linked list, remove the nth node from the end of the list and return its head.

![image.png]()


*Example 1*:

**Input:**

head = [1,2,3,4,5], n = 2

**Output**: [1,2,3,5]


Example 2:

Input: head = [1,2], n = 1

Output: [1]

Constraints:

 The number of nodes in the list is sz.

 1 &lt;= sz &lt;= 30

 0 &lt;= Node.val &lt;= 100

 1 &lt;= n &lt;= sz

In [ ]:
# Write here solution
def remove_list(lst):
  result = {}
  for i in lst:
    if i in result:
      result -=1
    result+=1
  return result

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# 3. A subsequence of a string is a sequence derived from the original string by deleting zero or more characters without changing the order of the remaining characters.
Write a recursive function in Python to generate all possible subsequences of a given string.
The function should take the input string and return a list of all its subsequences, including the empty subsequence.

*Example*

**Input**:

"abc"

**Output**:

["", "a", "b", "c", "ab", "ac", "bc", "abc"]

In [ ]:
# Write here solution
def longest_common(text1, text2):
    m, n = len(text1), len(text2)

    prev = [0] * (n + 1)
    curr = [0] * (n + 1)

    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if text1[i - 1] == text2[j - 1]:
                curr[j] = prev[j - 1] + 1
            else:
                curr[j] = max(prev[j], curr[j - 1])
        prev, curr = curr, prev

    return prev[m]

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# 4. You are given a list of integers and a target sum. Your task is to write a function to find all unique pairs of numbers in the list that add up to the target sum.

A pair of numbers is considered unique if the numbers are not repeated in the pair or in the output. The order of the numbers in the pair does not matter, and a number cannot be paired with itself unless it appears multiple times in the list.

Example

**Input**:

arr = [2, 4, 3, 5, 7, 8]

target = 9


**Output**:

[(2, 7), (4, 5)]

In [ ]:
# Write here solution
def findpairswith(nums, target):
    nums_sorted = sorted(nums)
    pairs = []
    left, right = 0, len(nums_sorted) - 1

    while left < right:
        current_sum = nums_sorted[left] + nums_sorted[right]

        if current_sum == target:
            pair = [nums_sorted[left], nums_sorted[right]]
            pairs.append(pair)

        elif current_sum < target:
            left += 1
        else:
            right -= 1
    return pairs

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# 5. You are given an 𝑛×𝑛 matrix (a square matrix), and your task is to write a function that rotates the matrix 90 degrees clockwise. The rotation should be done in place, meaning you should not use extra space for another matrix.

Definition of Rotation:
Rotating the matrix 90 degrees clockwise means that:

The first row becomes the last column.
The second row becomes the second-to-last column.
The third row becomes the third-to-last column, and so on.

*Example*

**Input:**

matrix = [

    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


**Output**:





[

    [7, 4, 1],
    [8, 5, 2],
    [9, 6, 3]
]

In [ ]:
# Write here solution
n = int(input(), list)
def rotation(lst):
  result = []
  for i in lst:
    if i==int(input()):
      return i==result.split()
    else:
      return result
rotation = arr[k][1:] + arr[k][:-1]
print(rotation)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-1313467820.py, line 6)

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

#**SQL Question**

#Load Dataset

In [ ]:
import pandas as pd
import sqlite3

# Creating a dummy employees dataset
data = {
    'employee_id': [1, 2, 3, 4, 5],
    'employee_name': ['John', 'Jane', 'Alice', 'Bob', 'Charlie'],
    'department_id': [1, 2, 2, 1, 3],
    'salary': [50000, 60000, 55000, 45000, 70000],
    'age': [25, 28, 30, 22, 35]
}

# Create a DataFrame
df = pd.DataFrame(data)

conn = sqlite3.connect(':memory:')

# Load the DataFrame into the SQLite database as a table
df.to_sql('employees', conn, index=False, if_exists='replace')

5

## **Example to run a query**

In [ ]:
query = "SELECT * FROM employees;"
result = pd.read_sql(query, conn)
result

   employee_id employee_name  department_id  salary  age
0            1          John              1   50000   25
1            2          Jane              2   60000   28
2            3         Alice              2   55000   30
3            4           Bob              1   45000   22
4            5       Charlie              3   70000   35

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# 3 SQL Questions

*1*. Write a query to calculate **the total salary paid** to employees in each department.

In [ ]:
# Write here solution
import pandas as pd
i = result["salary"]
p = i[0]+i[1]+i[2]+i[3]+i[4]
print(p)

280000

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*2*. Find the name of the employee with the **second-highest salary** in the company.

In [ ]:
l = result.groupby('employee_name')['salary'].sum()
print(l)

employee_name
Alice      55000
Bob        45000
Charlie    70000
Jane       60000
John       50000
Name: salary, dtype: int64

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

3. Find the **average salary of employees** in each department and only include departments where the average salary is **greater than 55,000.**

In [ ]:
# Write here solution
i = result["salary"]
q = i.mean()
print(q)

56000.0

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

## Generative AI Section — (3 Questions)

**If you know AI or Generative AI knowledge, please complete these three questions also — it’s important.**


Focus: Prompt design, reasoning, and creative AI outputs.
Use Google Gemini model to generate the responses.


**You can use this import at the top of each question:**
```python
import google.generativeai as genai
genai.configure(api_key="AIzaSyAj3JtBTh-iwBbsfMGOJ6qu4dmlHFh36_s")
model = genai.GenerativeModel('gemini-2.5-flash')
```

### Q1. Text Summarization
Use the Gemini model to summarize a given paragraph in 2–3 sentences.

**Example Input:**
```
Artificial Intelligence (AI) is transforming industries by enabling automation and intelligent decision-making.
```
**Expected Output:**
```
AI is revolutionizing industries by automating complex processes and enhancing decisions.
```

In [ ]:
import google.generativeai as genai
genai.configure(api_key="AIzaSyAj3JtBTh-iwBbsfMGOJ6qu4dmlHFh36_s")
model = genai.GenerativeModel('gemini-2.5-flash')

In [ ]:
#Write your code :
para = "Artificial Intelligence (AI) is transforming industries by enabling automation and intelligent decision-making"

prompt = f"summarize the following para in one line\n\n{para}"

response = model.generate_content(prompt)
print(response.text)

AI is transforming industries through automation and intelligent decision-making.

### Q2. Creative Idea Generation
Use Gemini to generate **5 innovative AI-based startup ideas** in the **healthcare domain**. Each idea should have a short one-line description.

In [ ]:
import google.generativeai as genai
genai.configure(api_key="AIzaSyAj3JtBTh-iwBbsfMGOJ6qu4dmlHFh36_s")
model = genai.GenerativeModel('gemini-2.5-flash')

In [ ]:
from numpy import load
#Write your code :
para = "Use Gemini to generate 5 innovative AI-based startup ideas in the healthcare domain. Each idea should have a short one-line description."

from langchain.chain import chain
from langchain_community.Text_spliter import RecursiveTextSpliter
from langchain_core.prompts import PromptTemplate
spliter = RecursiveTextSpliter(chunk_size = 200, chunk_overlap = 50)
text_spliter = spliter.split_documents(para)
chain = model | text_spliter
prompt = PromptTemplate('para')
print(prompt.text)

### Q3. Explain AI Concepts
Ask Gemini to explain the difference between **supervised**, **unsupervised**, and **reinforcement learning** in simple terms that even a beginner can understand.

In [ ]:
import google.generativeai as genai
genai.configure(api_key="AIzaSyAj3JtBTh-iwBbsfMGOJ6qu4dmlHFh36_s")
model = genai.GenerativeModel('gemini-2.5-flash')

In [ ]:
#Write your code :
from langchain_core.prompts import ChatPromptTemplate
chat = ChatPromptTemplate.from_messages([
   ("system","You are a helpful AI Assistant with a sense of humor"),
   ("human","Hi how are you?"),
   ("ai","I am good. How can I help you?"),
   ("human","{input}")
])

chat1= chat.format_messages(input="Ask Gemini to explain the difference between supervised, unsupervised, and reinforcement learning in simple terms that even a beginner can understand.")
model.invoke(chat1)